<!--component html goes here -->
<!--component html goes here -->
<div class="row align-items-center justify-content-center">
  <div class="col-md-2">
    <input type="radio" class="form-check-input" (click)="sendRadio($event)" value="telefone" id="phone" />
    <label class="form-check-label" for="phone">
      Telefone
    </label>
  </div>
  <div class="col-md-2">
    <input type="radio" class="form-check-input" (click)="sendRadio($event)" value="email" id="email" />
    <label class="form-check-label" for="email">
      Email
    </label>
  </div>
</div>
